<section id="<%= dom_id evaluation %>" class="border-2 w-9/12 mx-auto flex h-48 rounded-lg shadow-lg p-2 my-16">
  <div class="w-48">
      <%= image_tag("Upload.png", class: "object-fit h-full w-full") %>
  </div>

  <div class="w-full p-5">
    <p class="text-3xl font-bold text-evaluationStrong">
      <%= evaluation.name %>
      <i class="fa-solid fa-list-check ml-5"></i>
    </p>

    <p class="my-2 font-smibold text-evaluationStrong">
        <%= evaluation.description %>
    </p>

    <p class="font-semibold text-sm text-evaluationStrong">
        <%= evaluation.user.email %>
    </p>
  </div>

  <div class="flex flex-col justify-between p-2">
    <%= link_to edit_evaluation_path(evaluation), id:"edit_evaluation_icon", data: {turbo_frame: 'modal'} do %>
      <i class="fa-solid fa-pen text-editIcon"></i>
    <% end %>
    <%= button_to evaluation_path(evaluation), id: "remove_evaluation_icon", method: :delete,
     form: { data: { turbo_confirm: "Are you sure?" } } do %>
      <i class="fa-solid fa-trash text-removeIcon"></i>
    <% end %>
  </div>
</section>
