<div id="<%= dom_id evaluation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= evaluation.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= evaluation.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= evaluation.section_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= evaluation.user_id %>
  </p>
</div>
