<%= turbo_frame_tag "question_#{question.id}" do %>
	<div class="my-2 p-3 border-2 bg-white rounded-lg">
		<div class="flex justify-between">
			<div>
				<p class="text-sm">
					Name: 
					<span class="font-semibold"><%= question.name %></span>
				</p>

				<p class="text-sm">
					Question type:
					<span class="font-semibold"><%= question.question_type.humanize %></span>
				</p>
			</div>

			<div class="flex gap-3">
				<%= link_to section_question_edit_path(@evaluation, id: question.id) do %>
					<i class="fa-solid fa-pen text-editIcon"></i>
				<% end %>

				<%= button_to section_question_destroy_path(@evaluation, id: question.id), method: :delete, 
					form: {data: {turbo_confirm: "Are you sure?"}},	"data-turbo-frame": "_top" do %>
					<i class="fa-solid fa-trash text-removeIcon"></i>
				<% end %>
			</div>
		</div>

    <% if question.level? || question.multiple? %>

      <div>
        <div id="question_<%= question.id %>_options" class="my-3">
          <h3 class="font-semibold text-sm">Options</h3>
          <% question.options.order(:created_at).each do |option| %>
            <%= render 'options/option', option: option %>
          <% end %>
        </div>

        <div>
          <%= render 'options/form', {question: question, option: Option.new} %>
        </div>
      </div>

    <% end %>


	</div>

<% end %>