<main class="h-screen bg-mainColor flex flex-row-reverse">
  <section class="w-3/6 flex justify-center items-center">
    <div>
      <%= image_tag("ruby.png", width: "300") %>
    </div>
  </section>

  <section class="w-3/6 flex justify-center items-center">
    <div class="p-16 bg-formBack rounded-lg">
      <h2 class="text-white font-semibold text-3xl text-center py-5">Sign up</h2>
    
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field flex flex-col">
          <%= f.label :email, class: "text-white text-lg text-center p-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-lg text-sm font-semibold" %>
        </div>

        <div class="field flex flex-col py-2">
          <%= f.label :password, class: "text-white text-lg text-center p-2" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "rounded-lg text-sm font-semibold" %>
          <% if @minimum_password_length %>
          <em class="text-sm text-white text-center font-semibold">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="field flex flex-col">
          <%= f.label :password_confirmation, class: "text-white text-lg text-center p-2" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-lg text-sm font-semibold" %>
        </div>

        <div class="actions py-5 flex justify-center">
          <div class="bg-signUp text-black font-semibold p-4 rounded-lg">
            <%= f.submit "Sign up" %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</main>
