<header>
  <nav class="flex justify-between bg-mainColor text-white p-4">
    <ul>
      <%= link_to root_path,  class: "flex gap-3" do %>
        <i class="fa-solid fa-book text-2xl"></i> Survey Rails App.
      <% end %>
    </ul>
    <ul class="flex gap-3" data-controller="signout">
      <% if current_user %>
        <li>
          <%= current_user.email %>
        </li>
        <li class="rounded-lg hidden absolute top-14 right-10 h-16 w-32 bg-mainColor p-5 flex flex-col justify-end items-center border-2" id="sign_out_li">
          <%= button_to destroy_user_session_path, method: :delete, class: "mb-0 mt-auto" do %>
            <span class="bg-removeIcon rounded-lg py-2 px-4 text-xs text-white font-semibold">
              Sign Out
            </span>
          <% end %>
        </li>
        <li class="flex items-center">
          <button data-action="click->signout#signout">
            <i class="fa-solid fa-gear"></i>
          </button>
        </li>
      <% else %>
        <li class="bg-signIn rounded">
          <%= button_to 'Sign in', new_user_session_path, method: :get, class: "py-1 px-4 text-sm text-black font-semibold" %>
        </li>
        <li class="bg-signUp rounded">
          <%= button_to 'Sign up', new_user_registration_path, method: :get, class: "py-1 px-4 text-sm text-black font-semibold" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
