<section>
  <% unless @total == @step %>

    <%= link_to audits_index_path(step: step + 1) do %>
      Next
    <% end %>

  <% else %>

    <%= link_to audits_finish_path do %>
      Finsh Survey
    <% end %>

  <% end %>
  <%= link_to audits_index_path(step: step - 1) do %>
    Back
  <% end %>
</section>

<section>
  <div>
    <h2><%= chapter.name %></h2>
    <p><%= chapter.description %></p>
  </div>
  <div>
    <%= chapter.body %>
  </div>
</section>
