<section>
  <%= link_to audits_index_path(step: step + 1) do %>
    Next
  <% end %>
  <%= link_to audits_index_path(step: step - 1) do %>
    Back
  <% end %>
</section>

<section>
  <div>
    <h2><%= evaluation.name %></h2>
    <p><%= evaluation.description %></p>
  </div>

  <div>
    <%= form_with(url: audits_save_answers_path(user_token: token), method: :post) do |f| %>

      <% evaluation.questions.each do |question| %>

      <div class="m-5 p-5 border-2 border-red-600">
        <%= question.name %>


        <% if question.text_free? %>

          <% if Answer.find_by(question_id: question.id, user_token: token).present? %>

            <%= f.text_area("[question][ids][#{question.id}]", value: Answer.find_by(question_id: question.id, user_token: token).name) %>

          <% else %>

            <%= f.text_area("[question][ids][#{question.id}]") %>

          <% end %>

        <% else %>

          <% question.options.each do |option| %>
            <p>
              <%= f.radio_button("[question][ids][#{question.id}]", option.id,
                  { checked: Answer.find_by(name: option.id, user_token: token).present?,
                    id: "#{option.id}" }) %>
              <%= "#{option.name.to_plain_text}" %>
            </p>

          <% end %>

        <% end %>


      </div>

      <% end %>

      <div>
        <%= f.submit "Submit answers" %>
      </div>

    <% end %>
  </div>
</section>
