<div id="<%= dom_id survey %>" class="border-2 w-9/12 mx-auto flex h-40 rounded-lg shadow-lg p-2 my-5">
  <div class="w-40">
    <% if survey.avatar.attached? %>
      <%= image_tag(survey.avatar, class: "object-fit h-full w-full") %>
    <% else %>
      <%= image_tag("Upload.png", class: "object-fit h-full w-full") %>
    <% end %>
  </div>

  <div class="w-full p-5">
    <p>
      Name:
      <strong class="font-semibold">
        <%= survey.name %>
      </strong>
    </p>

    <p>
      Description:
      <strong class="font-semibold">
        <%= survey.description %>
      </strong>
    </p>

    <p>
      User:
      <strong class="font-semibold">
        <%= survey.user.email %>
      </strong>
    </p>

    <div class="flex justify-end">
      <%= button_to survey_path(survey), method: :get do %>
        <div class="rounded-lg bg-surveyStrong px-5 py-2 text-white text-sm font-semibold">
          See more
        </div>
      <% end %>
    </div>
  </div>
</div>
