<%= turbo_frame_tag 'modal' %>
<section id="<%= dom_id @chapter %>" class="border-2 w-9/12 mx-auto flex h-48 rounded-lg shadow-lg p-2 my-20">
  <div class="w-48">
      <%= image_tag("Upload.png", class: "object-fit h-full w-full") %>
  </div>

  <div class="w-full p-5">
    <p class="text-3xl font-bold text-chapterStrong">
      <%= @chapter.name %> 
      <i class="fa-solid fa-list-check ml-5"></i>
    </p>

    <p class="my-2 font-smibold text-chapterStrong">
        <%= @chapter.description %>
    </p>

    <p class="font-semibold text-sm text-chapterStrong">
        <%= @chapter.user.email %>
    </p>
  </div>

  <div class="flex flex-col justify-between p-2">
    <%= link_to edit_chapter_path(@chapter), id:"edit_chapter_icon", data: {turbo_frame: 'modal'} do %>
      <i class="fa-solid fa-pen text-editIcon"></i>
    <% end %>
    <%= button_to chapter_path(@chapter), id: "remove_chapter_icon", method: :delete,
     form: { data: { turbo_confirm: "Are you sure?" } } do %>
      <i class="fa-solid fa-trash text-removeIcon"></i>
    <% end %>
  </div>
</section>

<section class="flex">
  <%= turbo_frame_tag "chapter_body", class: "border-2" do %>
    <h2>Body</h2>
    <p>Hello world</p>
  <% end %>
</section>
